.md-header {
    font-weight: bold;
}

.md-typeset h1 {
    color: #1565c0;
}

.md-typeset h2 {
    border-bottom: 1px solid #ddd;
}

.md-typeset .grid.cards {

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

}


.md-typeset .grid.cards > ul > li {

transition:
transform .2s;

}


.md-typeset .grid.cards > ul > li:hover {

transform:
translateY(-5px);

}


footer {

text-align:center;

padding:20px;

}